body {
    margin: 0;
    background-color: #435585;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    flex-direction: column;
    height: 15vh;
    background-color: #363062;
    color:white;
    font-size: 100px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
 
    margin-bottom: 3vh;
}
.button {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
    margin-top: 1vh;
}
.add-book {
    background-color: #435585;
    color: white;
    border: 0;
    height: 4vh;
    width: 10vw;
    font-size: 30px;
    font-weight: bold;
}
.book-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    color: white;
    font-size: 30px;
}
.book-input {
    height: 30px;
    font-size: 25px;
    border: 1px solid white;
}
.num-input {
    width: 80px;
}
input[type=checkbox] {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}
.main {
   display: flex;
   justify-content: center;
}
.library {
    width: 60vw;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.bookCard {
    font-size: 2rem;
    padding: 10px;
    font-weight: bold;
    height: 30vh;
    background-color: #818FB4;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    word-wrap: break-word; 
    justify-content: space-between;
}

.read {
    border: 1px solid green;
    background-color: green;
    text-align: center;
}
.notRead {
    border: 1px solid red;
    background-color: red;
    text-align: center;
}
.removeBtnCtn {
    
}
.btnContainer {
    display: flex;
    justify-content: center;
    
}
.readBtn {
    width: 50%;
    font-size: 25px;
    color: white;
    font-weight: bold;
}
